// -- Retro Theme //
$r-color-1: rgb(8, 68, 163);
$r-color-2: rgb(153, 219, 0);
$r-color-3: limegreen;
$r-color-4: rgb(188, 0, 0);
$r-color-5: rgb(248, 241, 0);
// -- Modern Theme //
$m-color-1: rgb(246, 118, 0);
$m-color-2: rgb(143, 0, 208);
$m-color-3: rgba(235, 0, 12, 1);
$m-color-4: rgb(0, 193, 215);
$m-color-5: rgba(255, 255, 255, 0.9);

$lg-max: 1366px;
$md-max: 850px;
$sm-max: 480px;
$xs-max: 400px;
