// -- Retro Theme //
$r-color-1: rgb(137, 243, 0);
$r-color-2: rgb(0, 137, 197);
$r-color-3: limegreen;
$r-color-4: red;
// -- Modern Theme //
$m-color-1: #38bbeb;
$m-color-2: blue;
$m-color-3: rgba(235, 235, 235, 0.995);
$m-color-4: red;

$lg-max: 1366px;
$md-max: 850px;
$sm-max: 480px;
$xs-max: 400px;
