@import './variables';
.container-modern {
	main {
		height: 100vh;
		background-image: linear-gradient(
			to bottom right,
			$m-color-1,
			$m-color-3,
			$m-color-2
		);
	}
}
.container-retro {
	height: 100vh;
	background-image: linear-gradient(to bottom left, $r-color-1, $r-color-3);
}
div {
	main {
		.image-container {
			display: flex;
			justify-content: center;
			img {
				width: 80vw;
			}
		}
		section {
			.main-title {
				background-color: inherit;
				border: none;
				padding: none;
				width: initial;
				@media screen and (max-width: $md-max) {
					font-size: unset;
				}
			}
		}
		.text-container {
			width: 80vw;
			margin: 0 auto;
		}
	}
}
body {
	margin: 0;
}
.outlined-text {
	font-family: 'Arial', sans-serif; // Set your desired font family
	font-size: 24px; // Set your desired font size
	color: white; // Set the text color
	background-color: #3498db; // Set the background color

	// Create outline
	-webkit-text-stroke: 1px black; // Set the outline color and width
	color: transparent; // Make the text transparent to show only the outline

	// Add additional styling if needed
	padding: 10px;
	display: inline-block;
}
