@import './_variables.scss';

.modern,
.retro {
	padding-top: 2rem;

	main {
		display: grid;
		gap: 2rem;
	}
	min-height: 100vh;
	@media screen and (max-width: $md-max) {
		height: 100%;
	}
}
.modern {
	section {
		display: grid;
		gap: 1rem;
	}
	h1 {
		font-family: sans-serif;
		text-align: center;
		border: 1px solid $m-color-5;
		width: 30vw;
		padding: 2rem;
		margin: 0 auto;
		background-color: $m-color-4;
		border-radius: 0.2rem;
		font-weight: 200;
		color: $m-color-5;
		@media screen and (max-width: $sm-max) {
			font-size: 1.4rem;
		}
	}
	background-image: linear-gradient(
		to bottom right,
		$m-color-1,
		$m-color-3,
		$m-color-2
	);
}
.retro {
	min-width: 89vw;
	background-image: url('../public/images/misc/space.png');
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	h1 {
		border: 1px solid $r-color-5;
		width: 30vw;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
		color: $r-color-4;
	}
	p {
		color: $r-color-5;
	}
}
.cardContainer {
	display: flex;
	margin: 0 auto;
	width: 80vw;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.3rem;
	@media screen and (max-width: $md-max) {
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
}
