@import './_variables.scss';

.modern,
.retro {
	main {
		display: grid;
		gap: 2rem;
		.logoHeader {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			margin: 0;
			img {
				height: 12rem;
			}
		}
	}
	min-height: 100vh;
	@media screen and (max-width: $md-max) {
		height: 100%;
	}
}
.modern {
	display: grid;
	gap: 2rem;
	background-image: linear-gradient(
		to bottom right,
		$m-color-1,
		$m-color-3,
		$m-color-2
	);
	.header {
		background-color: $m-color-4;
	}
	section {
		display: grid;
		font-family: sans-serif;
		gap: 1rem;
		div.text-container {
			@media screen and (max-width: $sm-max) {
				font-size: 0.8rem;
			}
			@media screen and (min-width: $md-max) {
				font-size: 1.2rem;
			}
		}
	}

	.logoHeader {
		img {
			height: 12rem;
		}
	}
}
.retro {
	.header {
		background-color: white;
	}
	main {
		box-shadow: 8px 0 8px black inset;
	}
	min-width: 89vw;
	background-image: url('../public/images/misc/space.png');
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	display: grid;
	grid-template-columns: auto auto;

	h1 {
		border: 1px solid $r-color-5;
		width: 30vw;
		margin: 0 auto;
		padding: 1rem;
		text-align: center;
		color: $r-color-4;
	}
	p {
		color: $r-color-5;
	}
}
.cardContainer {
	display: flex;
	margin: 0 auto;
	width: 80vw;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.3rem;
	@media screen and (max-width: $md-max) {
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
}
