@import './_variables.scss';

.modern {
	height: 100vh;
	background-image: linear-gradient(
		to bottom right,
		$m-color-1,
		$m-color-3,
		$m-color-2
	);
}
.retro {
	height: 100vh;
	background-image: linear-gradient(to bottom left, $r-color-1, $r-color-3);
}
.cardContainer {
	display: flex;
	margin: 0 auto;
	width: 80vw;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.3rem;
	@media screen and (max-width: $md-max) {
		flex-direction: column;
		margin: 0 auto;
		align-items: center;
	}
}
